.page-wrapper {
  
}

#form-wrapper {
  display: block;
  width: 50%;
  background-color: white;
  border: 2px solid rgb(247, 219, 106);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* .page-wrapper {
    display: block;
} */

.register-form {
  display: none;
  width: 250px;
  display: block;
  justify-content: center;
  flex-direction: column;
}

.btn-open {
  /* align-items: center; */
  width: 250px;
  margin-bottom: 10px;
  background-color: rgb(235, 176, 45);
  color: white;
  padding: 18px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.reg-form-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: rgba(9, 37, 5, 0.8);
  margin-bottom: 10px;
}

.input-name,
.input-email {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: rgba(9, 37, 5, 0.8);
  margin-bottom: 3px;
}

.check-guests {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(9, 37, 5, 0.8);
  margin-bottom: 5px;
}

.js-guest-number-list {
  display: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(9, 37, 5, 0.8);
  margin-bottom: 20px;
  margin-top: 3px;
}

.js-submit {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 3px;
  background-color: rgb(122, 168, 116);
  color: white;
  padding: 18px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.js-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: o;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.submit-popup-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-message {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
}

.js-close-popup {
  background-color: white;
  color: rgb(216, 100, 169);
  font-weight: bold;
  border: 1px solid rgb(216, 100, 169);
  cursor: pointer;
  border-radius: 5px;
}

.popup-window {
  border: 1px solid black
}

.js-name,
.js-email {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  padding: 4px;
}

.active {
  width: 250px;
  margin-bottom: 10px;
  background-color: rgb(216, 100, 169);
  color: white;
  padding: 18px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.validation-error {
  border: 1px solid #ff0000;
}

table {
  display: inline-table;
}

.guest-table {
  display: none;
  border-spacing: 0px;
  border-collapse: collapse;
}

.guest-table td,
.guest-table th {
  border: 1px solid rgba(9, 37, 5, 0.8);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(9, 37, 5, 0.8);
  padding: 3px 3px;
  text-align: center;
}

.js-delete {
  background-color: white;
  color: rgb(216, 100, 169);
  font-weight: bold;
  border: 1px solid rgb(216, 100, 169);
  cursor: pointer;
  border-radius: 5px;
}
