hl {
    color: green;
}

#blue-heading {
    color: blue;
}

.red-text {
    color: rgb(208, 255, 0);
    text-align: center;
    font-weight: 100;
}

.font-size-xl {
    font-size: 72px;
}

th, td {
    border-width: 1px;
    border-style: solid;
    border-color: #AA0000;
}

table {
    border-collapse: collapse;
    border-spacing: 0ch;
}

.cell-heading {
    font-family: sans-serif;
    font-size: 16px;
}

.cell-heading.underline{
    text-decoration: underline;
}

.underline{
    text-decoration: underline;
}

td:first-child{
    font-weight: bold;
}

tr:nth-child(odd) td{
    background:rgba (100, 100, 100, 1);
}

button {
    border: 1px #AA0000;
    font-size: 12px;
    cursor: pointer;
}

button.edit-btn{
    background: #FF0000;
}

button.delete-btn{
    background: #FF0000;
}

* {
    color: blue;
}