body {
  background-color: #f0f2f5;
}
.grid-container {
  display: grid;
  grid-template-columns: 40%;
  grid-template-areas: "left right";
  margin-bottom: 112px;
  margin-top: 72px;
  grid-column-gap: 30px;
  align-content: center;
  justify-content: center;
  padding: 0 20px;
}
.left-block {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.right-block {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px 30px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 10%);
}
img {
  width: 60%;
  margin-bottom: 30px;
}
.slogan {
  font-size: 24px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
}

#email-input {
  width: 332px;
  line-height: 48px;
  border-radius: 6px;
  font-size: 20px;
  margin: 16px 0 8px 0;
  border: 1px solid rgb(182, 182, 182);
  margin: 8px 16px;
}
#password-input {
  width: 332px;
  line-height: 48px;
  border-radius: 6px;
  font-size: 20px;
  border: 1px solid rgb(182, 182, 182);
  margin: 8px 16px;
}
#login-button {
  background-color: #1877f2;
  align-self: center;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  margin: 8px 16px;
  width: 339px;
  line-height: 48px;
  font-weight: bold;
}
#new-account-button {
  background-color: #42b72a;
  align-self: center;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  margin: 8px 16px;
  width: 200px;
  line-height: 48px;
}
.forgot-password {
  text-align: center;
  font-size: 14px;
  color: #1877f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 16px;
}
.line {
  border: 0.1em solid rgb(182, 182, 182);
  margin: 20px 16px;
}

#create-page {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 28px;
  text-align: center;
  line-height: 1.34;
}
