body {
  background-color: rgba(240, 242, 245, 255);
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  justify-content: center;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.intro-wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 10rem;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .intro-wrapper {
    margin-bottom: 0;
    text-align: center;
    vertical-align: bottom;
    max-width: 410px;
    align-items: center;
  }
}

h2 {
  padding-left: 2rem;
  margin: 0;
  font-weight: normal;
  margin-top: -1rem;
}

.input-wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.comment {
  width: fit-content;
}

form {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 396px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 10px;
  font-family: inherit;
}

input {
  direction: ltr;
  margin: 0;
  background: #ffffff url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  font-family: inherit;
}

.logging {
  direction: ltr;
  margin: 0;
  box-sizing: content-box;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  font-family: inherit;
}

.new-account {
  direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #36a420;
  border-color: #36a420;
  text-decoration: none;
  font-family: inherit;
  width: fit-content;
}

.divider {
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 10px 0;
  text-align: center;
  font-family: inherit;
  width: calc(100% - 2rem);
}

.forgot-password {
  direction: ltr;
  line-height: 1.34;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}

.create-page {
  direction: ltr;
  line-height: 1.34;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
}

.comment {
    font-size: 14px;
}

.logo-wrapper {
  width: 300px;
}
