.img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-wrapper img {
  width: 200px;
}

.img-wrapper-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
}

.img-wrapper-second img:nth-child(1) {
  height: 200px;
  order: 3;
}

.img-wrapper-second img:nth-child(2) {
  height: 250px;
}

.img-wrapper-second img:nth-child(3) {
  height: 150px;
  order: 1;
}

.content-wrapper-third {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content-wrapper-third div {
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
