* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    height: 460px;
    background: #ffffff;
    box-shadow: 0px 5px 12px #b2b0b0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 24px;
    
}

.inputs {
    display: flex;
    height: 125px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.email, .password {
    display: block;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    font-weight: 400;
    border-width: thin;
    padding: 10px;

}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    background: #0a66c2;
    color: white;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.new-to-linkedin {
    display: flex;
    justify-content: center;
    margin-top: 80vh;
}

.img-container {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
}

.apple-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 1px;
}

.sign-in-apple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    background: white;
    color: rgb(111, 111, 111);
    font-weight: bolder;
    cursor: pointer;
    border-width: thin;
}

.sign-in:hover {
    background: #07427c;
    transition: 0.5s;
}

.sign-in-apple:hover {
    background: #f3f3f3;
    transition: 0.5s;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.or-border {
    border-top: 1px solid;
    width: 100px;
    color: #b2b0b0;
}

.or {
    margin: 0 10px;
    color: #b2b0b0;
}

.forgot-password {
    color:#0a66c2;
    font-weight: bolder;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: dashed;
    color: #0a66c2;
}

