/* Set that if there is no space for the images they jump to a new row; */
.img-wrapper img {
    width: 250px;
    height: 250px;
}

.img-wrapper.one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-wrapper.two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.img-wrapper.two img:nth-child(5) {
    order: 1;
}

.img-wrapper.two img:nth-child(3) {
    order: 2;
}

.img-wrapper.three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}