body {
    display: flex;
}

p {
    font-size: 22px;
}
/* media query that changes the default font size if the screen is smaller than 1024px; */
@media screen and (max-width: 1024px) {
    p {
        font-size: 18px;
    }
}

/* media query that shows a hidden element if he screen is between 320px and 1024px; */
.hidden {
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .hidden {
        display: block;
    }
}

/* media query that aligns items vertically when in portrait (default state is that they are aligned horizontally) */
div {
    height: 200px;
    width: 200px;
    background: gray;
    margin: 10px;
}
@media (orientation: portrait) {
    body {
      flex-direction:column;
    }
}
