 table {
    color: blue;
 }

 table .header {
    text-align: center;
 }

 .header.bold {
    font-weight: bold;
 }

 tr > * {
    background: gray;
 }

 tr * {
    background: gray;
 }

 [required] {
    cursor: default;
 }

 td:not(.bold) {
    font-weight: 100;
 }

 button:hover {
    opacity: 0.8;
 }

 a:visited {
    display: none;
 }
